.body-index{
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: 100%;
}
.body-home{
    background-image: url(BG\ home.jpg);
    background-size: 100%;
    
}

.flex-container{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.flex-container div{
    padding-left: 10%;
    padding-right: 12.3%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 0.5s;
    text-align: center;
    border-bottom: 2px solid rgb(255, 0, 0);
    color: #e1e1e1;
    font-size: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.flex-container a{
    margin-right: 1px;
}
.flex-container div:hover{
    background-color: #a13854;
    cursor: pointer;
}
.login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    box-shadow: 2px 2px rgb(255, 255, 255);

}
    
.card {

    background-color: rgba(19, 19, 19, 0.74);

    padding: 30px;

    border-radius: 5px;

    width:280px;

    box-shadow: #000 2px 2px;
}

.card-header {

    padding-bottom: 30px;

    opacity: 2;

    color: #fff;
    
    text-align: center;
}
.card-header h2{
    border-bottom: #fff 1px solid;
}

.card-content label {

    color: #fff;

    font-size: 15px;

    opacity: 2;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

    box-shadow: 0px 1px;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border: 0px groove #e1e1e1;

    outline: none;

    color: #fff;
    

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #a13854;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;   
    transition: 0.5s ease-in-out;

    border-radius: 5px;
    
}

.submit:hover {
    background-color: #fa0202;
    cursor: pointer;
}

.card-footer a{
    color: #fff;
    transition: 0.5s ease-in-out;
}
.card-footer a:hover{
    color: #fa0202;
    
    
}



.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 2;

    color: #fff;

    text-decoration: none;

}
.text{
    font-size: 50%;
}